In [1]:
import pandas as pd

df = pd.read_hdf('screeners/_screener.h5', 'screener')
df_out = pd.read_hdf('screeners/_screener.h5', 'screener_out')

In [2]:
df = df.loc[pd.Timestamp(2013, 1, 3)]

In [3]:
df_out = df_out.loc[(slice(None), 'DHT'), :]

In [10]:
x = df.index.to_list()
x

['DHT',
 'CSIQ',
 'TIT',
 'PHN',
 'BRE',
 'TLK',
 'FCNCA',
 'SBCF',
 'CZNC',
 'FHI',
 'CASH',
 'BIIB',
 'ROST',
 'CALM',
 'PFC',
 'REI',
 'HIMX',
 'FMX',
 'DQ',
 'PBR',
 'X',
 'PST',
 'NOAH']

In [5]:
df_out

                   Previsione  Reale
Data       Ticker
2007-06-07 DHT           0.82    0.0
2007-06-08 DHT           0.75    0.0
2007-06-11 DHT           0.78    0.0
2007-06-12 DHT           0.78    0.0
2007-06-13 DHT           0.52    0.0
...                       ...    ...
2022-03-10 DHT           0.52    1.0
2023-02-09 DHT           0.72    0.0
2023-02-10 DHT           0.58    0.0
2023-02-13 DHT           0.68    0.0
2023-02-14 DHT           0.68    0.0

[551 rows x 2 columns]

In [6]:
df_tot = pd.merge(left=df, right=df_out, how='left', left_index=True, right_index=True, indicator=True)
df_tot = df_tot.loc[df_tot['_merge'] == 'left_only', :]
df_tot

Empty DataFrame
Columns: [Previsione_x, Reale_x, Previsione_y, Reale_y, _merge]
Index: []