In [1]:
import pandas as pd
import yfinance as yf
import numpy as np

pd.set_option("display.max_columns", None)

print("Download dati ticker")
ticker = yf.download("BTG", start='2010-01-01', end='2010-02-20', progress=False)
ticker.index = ticker.index.date

Download dati ticker

In [3]:
print("Definizione features e target")
def to_ft(dati_ticker, giorni_previsione):
    features = dati_ticker[["Close", "Open"]]
    target = dati_ticker[["Close"]].shift(-giorni_previsione)
    return features.iloc[:-giorni_previsione], target.iloc[:-giorni_previsione]

features, target = to_ft(ticker, 1)
features.index

Definizione features e target

Index([2010-01-04, 2010-01-05, 2010-01-06, 2010-01-07, 2010-01-08, 2010-01-11,
       2010-01-12, 2010-01-13, 2010-01-14, 2010-01-15, 2010-01-19, 2010-01-20,
       2010-01-21, 2010-01-22, 2010-01-25, 2010-01-26, 2010-01-27, 2010-01-28,
       2010-01-29, 2010-02-01, 2010-02-02, 2010-02-03, 2010-02-04, 2010-02-05,
       2010-02-08, 2010-02-09, 2010-02-10, 2010-02-11, 2010-02-12, 2010-02-16,
       2010-02-17, 2010-02-18],
      dtype='object')

In [4]:
target

            Close
2010-01-04   1.25
2010-01-05   1.33
2010-01-06   1.34
2010-01-07   1.42
2010-01-08   1.42
2010-01-11   1.35
2010-01-12   1.41
2010-01-13   1.39
2010-01-14   1.37
2010-01-15   1.39
2010-01-19   1.28
2010-01-20   1.20
2010-01-21   1.23
2010-01-22   1.21
2010-01-25   1.25
2010-01-26   1.25
2010-01-27   1.16
2010-01-28   1.16
2010-01-29   1.19
2010-02-01   1.23
2010-02-02   1.21
2010-02-03   1.16
2010-02-04   1.17
2010-02-05   1.18
2010-02-08   1.15
2010-02-09   1.19
2010-02-10   1.22
2010-02-11   1.21
2010-02-12   1.23
2010-02-16   1.18
2010-02-17   1.19
2010-02-18   1.22

In [5]:
print("Preparazione array X e Y")
def to_XY(features, target, n_timesteps):
    i_tot = len(features) - n_timesteps + 1
    idx, X, Y = [], [], []
    for i in range(i_tot):
        idx.append(features.index[i + n_timesteps - 1])
        X.append(features.iloc[i:i + n_timesteps])
        Y.append(target.iloc[i + n_timesteps - 1])
    return idx, np.array(X), np.array(Y)


n_timesteps = 30

idx, X, Y = to_XY(features, target, n_timesteps)

Preparazione array X e Y

In [6]:
df_x = pd.DataFrame({"X": X[:, n_timesteps - 1, 0]})
df_x

      X
0  1.23
1  1.18
2  1.19

In [7]:
df_y = pd.DataFrame({"Y": Y.reshape(-1)})
df_y

      Y
0  1.18
1  1.19
2  1.22