In [1]:
import pandas as pd
import yfinance as yf
import numpy as np

pd.set_option("display.max_columns", None)

print("Download dati ticker")
ticker = yf.download("BTG", start='2010-01-01', end='2010-01-31', progress=False)
ticker.index = ticker.index.date

Download dati ticker

In [16]:
print("Definizione features e target")
def to_XY(dati_ticker, n_timesteps, giorni_previsione):
    features = dati_ticker[[
        "Close",
        "Volume",
        "Open",  
        "High",
        "Low"
    ]]
    target = dati_ticker[[
        "Close", 
        "Open", 
        "High", 
        "Low"
    ]]
    
    i_tot = len(features) - n_timesteps - giorni_previsione + 1
    idx, X, Y = [], [], []  
    for i in range(i_tot):
        idx.append(features.index[i + n_timesteps - 1])
        X.append(features.iloc[i:i + n_timesteps])
        Y.append(target.iloc[i + n_timesteps:i + n_timesteps + giorni_previsione])
    return idx, np.array(X), np.array(Y)

Definizione features e target

In [25]:
print("Preparazione array X e Y")

n_timesteps = 2
giorni_previsione = 5
idx, X, Y = to_XY(ticker, n_timesteps, giorni_previsione)

n_features = X.shape[2]
n_target = Y.shape[2]

Preparazione array X e Y

In [19]:
X.shape

(13, 2, 5)

In [20]:
Y.shape

(13, 5, 4)

In [21]:
ticker.head(10)

            Open  High   Low  Close  Adj Close  Volume
2010-01-04  1.18  1.21  1.18   1.21   1.064783   11800
2010-01-05  1.23  1.26  1.21   1.25   1.099983   14400
2010-01-06  1.36  1.36  1.31   1.33   1.170382   40000
2010-01-07  1.36  1.37  1.33   1.34   1.179181   37800
2010-01-08  1.36  1.46  1.36   1.42   1.249580   75800
2010-01-11  1.47  1.47  1.40   1.42   1.249580   36800
2010-01-12  1.40  1.40  1.31   1.35   1.187981    4900
2010-01-13  1.36  1.41  1.35   1.41   1.240780   22500
2010-01-14  1.40  1.43  1.38   1.39   1.223181   23200
2010-01-15  1.39  1.40  1.37   1.37   1.205581   44900

In [22]:
X[0, n_timesteps-1, 0]

1.25

In [28]:
Y[0, 4, 0].round(2)

1.35